body {
    padding: 20px;
    /*padding-bottom: 20px;*/
    margin: 20px;
}

.btn-img {
    margin-top: 7px;
    /*margin-right: 0;*/
    padding: 0;
    border: 0;
    /*outline: none;*/
}

table th {
    text-align: center
}

